<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reyurnible.rxanimation">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity android:name=".TestActivity" />
    </application>
</manifest>
